.footer {
    background-color: #111827;
    color: rgb(255, 255, 255);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  }
  
  @media (min-width: 768px) {
    .footer {
      flex-direction: row;
    }
  }
  
  .footer-left {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .footer-left {
      width: 35%;
      padding-right: 20px;
    }
  }
  
  .logo {
    width: 70px;
    margin-bottom: 10px;
  }
  
  
  
  .footer-left p {
    font-size: 14px;
    color: #14a331;
  }
  
  /* Ticker */
  .price-ticker {
    margin-top: 15px;
    overflow: hidden;
    white-space: nowrap;
    border-top: 1px solid #18a92b;
    padding-top: 5px;
    position: relative;
    word-spacing: 10px;
  }
  
  
  
  